gunicorn api.wsgi:application --bind 0.0.0.0:$PORT --workers 4

0789270943

-surname and last name
-national id
-drop down of villages
-what is the qualification to be an outgrower, minimum threshold for number of trees. "age of trees?"
-register more farm details 
-specify data type (predetermined, options, selection)
-capture pin(geolocation)
-email(optional)
-coffee cherries cannot be red and dried
-make it a search for farmers names
-assign the farmer reg number
-how do they determine grade
-need to do diagrams (process flow diagrams, journey map)
-a step form (processes)

sort
-color
-grade 2 (green ones) dry
-weigh

floating
-float red cherries only
sink(grade one) ferment (1 week)
float(grade 2) ferment
